@model MyEcommerceAdmin.Models.SubCategory
@{
    ViewBag.Title = "Add New SubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h2 class="text-info">Add New SubCategory</h2>
        <hr />
        <div class="col-md-12">
            @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnComplete = "clearAll" }))
            {
                @Html.AntiForgeryToken()
                <div class="row mb-2">
                    <div id="msg">

                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Name, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.CategoryID, new { @class = "form-label fs-4" })
                        @Html.DropDownListFor(x => x.CategoryID, ViewBag.categoryList as SelectList, "***Select Supplier***", new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6" style="padding-top:50px;">
                        <button type="submit" class="btn btn-success btn-lg col-12"><i class="fa-regular fa-floppy-disk fs-4"></i> Save</button>
                    </div>
                </div>
            }

            <div class="col-md-12 d-flex justify-content-lg-start mt-3">
                <a href="@Url.Action("Index", "Dashboard")" class="btn btn-danger btn-sm fs-4"><i class="fa-regular fa-hand-back-point-left"></i> Back to the list</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/JS/jquery-3.6.0.js"></script>
    <script src="~/Content/JS/jquery.validate.js"></script>
    <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
    <script>
        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}

