
@model MyEcommerceAdmin.Models.EmployeeVM
@{
    ViewBag.Title = "Edit Employee Profile";
}

<div class="row">
    <div class="col">
        <div class="row g-3">
            <div class="col-md-4">
                <h2 class="text-info">@Model.FirstName&nbsp;@Model.LastName</h2>
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-end">
                    <img src="@Url.Content(Model.PicturePath)" alt="@Model.FirstName" width="80" height="80" />
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.EmpID)
                @Html.HiddenFor(x => x.PicturePath)

                <div class="row g-3">
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.FirstName, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.LastName, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.DateofBirth, new { @class = "form-label fs-4" })
                        @Html.EditorFor(x => x.DateofBirth, new { htmlAttributes = new { @class = "form-control fs-4" }, Type="date" })
                        @Html.ValidationMessageFor(x => x.DateofBirth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Gender, new { @class = "form-label fs-4" })
                        @Html.DropDownList("Gender", new List<SelectListItem>() {
                                            new SelectListItem(){Text="Male",Value="Male"},
                                            new SelectListItem(){Text="Female",Value="Female"},
                                            new SelectListItem(){Text="Other",Value="Other"}
                            }, "--Select Gender--", new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Email, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control fs-4", Type = "email" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Phone, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Address, new { @class = "form-label fs-4" })
                        @Html.TextAreaFor(x => x.Address, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Picture, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Picture, new { @class = "form-control fs-4", Type = "file" })
                        @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-12 d-flex justify-content-lg-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg col-4"><i class="fa-solid fa-up fs-4"></i> Update</button>
                </div>
            }

            <div class="col-md-12 d-flex justify-content-lg-start mt-2">
                <a href="@Url.Action("Index", "Employee")" class="btn btn-danger btn-sm fs-4"><i class="fa-regular fa-hand-back-point-left"></i> Back to the list</a>
            </div>
        </div>
    </div>
</div>

